archive/components/principal/principal.jade
#principal
  header
    nav.row.hide-for-small-only
      ul.social.medium-5.columns
        li.lead.facebook
          i.fa.fa-facebook
        li.lead.instagram
          i.fa.fa-twitter
      ul.paginas.medium-7.columns
        li.lead Cadastro
        li.lead Artigos
        li.lead Contatos
    .aplicativo.row
      .small-8.small-offset-2.medium-12.medium-offset-0.columns
        .row        
          .logo.small-6.small-offset-3.medium-2.medium-offset-5.columns
            img(src="#{imageFolder}/logo.png")
        .row    
          .small-12.columns
            h2.nome-aplicativo Desafio da Ordem  
            h3.mote Encare esse desafio!
        .row
          .botoes.small-12.columns
            .row
              button.google-play.small-6.columns 
                i.icon-play
                span Google Play
              button.apple-store.small-6.columns
                i.icon-apple
                span Apple Store           
  main  
    .apresentacao.row
      .video.small-12.medium-7.columns.hide-for-medium-up
        button.play(onclick="play()")
          i.fa.fa-play.fa-3x     
      .descricao-video.medium-5.columns.hide-for-small-only
        h3 Breve histórico do cliente
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur quas vitae deserunt inventore quam pariatur ipsam eaque exercitationem nostrum molestias, tempora. Repellendus perferendis numquam, vitae placeat doloremque id, atque.
    .carrossel.row      
        img.small-6.columns(src="#{imageFolder}/carrossel-1.svg") 
        p.texto.small-6.columns.lead.
          #[span Desafie] amigos ou outros jogadores para um embate de perguntas e respostas             
    .download.row
      .texto.small-6.columns
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, in, molestiae! Molestias, ad, nulla. Illum.
        .botoes
          button.apple-store
            i.icon-apple
            span Apple Store
            button.google-play
              i.icon-play
              span Google Play
      .imagem.small-6.columns
              img(src="#{imageFolder}/dispositivos.png")  
    include ../secoes-comuns/main/main.jade
  include ../secoes-comuns/footer/footer.jade

archive/components/principal/principal.html

<div id="principal">
  <header>
    <nav class="row hide-for-small-only">
      <ul class="social medium-5 columns">
        <li class="lead facebook"><i class="fa fa-facebook"></i></li>
        <li class="lead instagram"><i class="fa fa-twitter"></i></li>
      </ul>
      <ul class="paginas medium-7 columns">
        <li class="lead">Cadastro</li>
        <li class="lead">Artigos</li>
        <li class="lead">Contatos</li>
      </ul>
    </nav>
    <div class="aplicativo row">
      <div class="small-8 small-offset-2 medium-12 medium-offset-0 columns">
        <div class="row">       
          <div class="logo small-6 small-offset-3 medium-2 medium-offset-5 columns"><img src="wp-content/themes/desafio-da-ordem/imagens/logo.png"/></div>
        </div>
        <div class="row">   
          <div class="small-12 columns">
            <h2 class="nome-aplicativo">Desafio da Ordem  </h2>
            <h3 class="mote">Encare esse desafio!</h3>
          </div>
        </div>
        <div class="row">
          <div class="botoes small-12 columns">
            <div class="row">
              <button class="google-play small-6 columns"> <i class="icon-play"></i><span>Google Play</span></button>
              <button class="apple-store small-6 columns"><i class="icon-apple"></i><span>Apple Store           </span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main> 
    <div class="apresentacao row">
      <div class="video small-12 medium-7 columns">
        <button onclick="play()" class="play"><i class="fa fa-play fa-3x">    </i></button>
      </div>
      <div class="descricao-video medium-5 columns hide-for-small-only">
        <h3>Breve histórico do cliente</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur quas vitae deserunt inventore quam pariatur ipsam eaque exercitationem nostrum molestias, tempora. Repellendus perferendis numquam, vitae placeat doloremque id, atque.</p>
      </div>
    </div>
    <div class="carrossel row">     <img src="wp-content/themes/desafio-da-ordem/imagens/carrossel-1.svg" class="small-6 columns"/>
      <p class="texto small-6 columns lead"><span>Desafie</span> amigos ou outros jogadores para um embate de perguntas e respostas             </p>
    </div>
    <div class="download row">
      <div class="texto small-6 columns">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, in, molestiae! Molestias, ad, nulla. Illum.</p>
        <div class="botoes">
          <button class="apple-store"><i class="icon-apple"></i><span>Apple Store</span>
            <button class="google-play"><i class="icon-play"></i><span>Google Play</span></button>
          </button>
        </div>
      </div>
      <div class="imagem small-6 columns"><img src="wp-content/themes/desafio-da-ordem/imagens/dispositivos.png"/></div>
    </div>
    <div id="secoes-comuns">
      <div class="categorias-app hide">       </div>
      <div class="cards-noticias hide">
        <div class="categorias row">
          <ul class="items small-12 columns">
            <li class="item">Categoria 1</li>
            <li class="item">Categoria 2</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
          </ul>
        </div>
        <div class="busca row"> 
          <div class="small-4 columns"> 
            <input placeholder="Buscar"/>
          </div>
        </div>
        <div class="cards">
          <div class="row item">
            <div class="imagem small-4 columns"></div>
            <div class="texto small-8 columns">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, suscipit eius nisi!            </p>
            </div>
          </div>
          <div class="row">       </div>
          <div class="row">       </div>
          <div class="row"></div>
        </div>
      </div>
      <div class="newsletter row">
        <div class="imagem small-6 columns">
          <div class="content"><img src="wp-content/themes/desafio-da-ordem/imagens/garota.png"/></div>
        </div>
        <div class="convite small-6 columns">
          <div class="texto">
            <div class="show-for-medium-up">
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius odit tenetur nobis, animi ipsam doloremque.</p>
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius odit tenetur nobis, animi ipsam doloremque.</p>
            </div>
          </div>
          <div class="campo-inscricao botoes">
            <button>ASSINAR</button>
          </div>
        </div>
      </div>
      <div class="dica">
        <div class="row">
          <div class="imagem small-2 small-offset-5 medium-offset-0 columns">           <img src="wp-content/themes/desafio-da-ordem/imagens/acropole.svg"/></div>
          <div class="texto small-12 medium-10 columns">
            <p>Dicas para concurso a serem atualizadas mensalmente</p>
          </div>
        </div>
      </div>
      <div class="servicos">
        <div class="show-for-small-only row"> 
          <div class="coaching small-12 columns">
            <div class="row">
              <div class="imagem small-3 columns"><img src="wp-content/themes/desafio-da-ordem/imagens/balanca.svg"/></div>
              <div class="texto small-9 columns">
                <h5>Coaching</h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.      </p>
              </div>
            </div>
          </div>
          <div class="mentoring small-12 columns">
            <div class="row">     
              <div class="imagem small-3 columns"></div><img src="wp-content/themes/desafio-da-ordem/imagens/malhete.svg"/>
              <div class="texto small-9 columns">
                <h5>Mentoring</h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="show-for-medium-up row">     
          <div class="texto medium-6 columns lead">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam deleniti vero fugiat assumenda. Commodi.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos hic error, odio alias necessitatibus voluptate.</p>
          </div>
          <div class="imagem medium-6 columns"><img src="wp-content/themes/desafio-da-ordem/imagens/apito.png"/></div>
        </div>
      </div>
      <div class="contato show-for-small-only">
        <form class="row">
          <div class="small-12 columns">
            <input placeholder="Nome" required="required" class="nome"/>
          </div>
          <div class="small-12 columns"> 
            <input placeholder="Email" type="email" required="required" class="email"/>
          </div>
          <div class="small-12 columns"> 
            <textarea placeholder="Mensagem" required="required" class="mensagem"></textarea>
          </div>
          <div class="small-12 columns"> 
            <input type="submit" value="ENVIAR"/>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer class="row">
    <div class="aplicativo small-6 medium-4 columns">
      <div class="content">   
        <div class="row">
          <div class="logo small-6 columns small-offset-3 medium-4 medium-offset-4"><img src="wp-content/themes/desafio-da-ordem/imagens/logo.png"/></div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <h4 class="nome-aplicativo">Desafio da Ordem</h4>
            <h5 class="mote">Encare esse desafio!</h5>
          </div>
        </div>
        <div class="row">
          <div class="botoes small-12 columns">
            <button class="google-play small-6 columns"> <i class="icon-play"></i><span>Google Play</span></button>
            <button class="apple-store small-6 columns"> <i class="icon-apple"></i><span>Apple Store</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="institucional small-6 medium-4 columns"> 
      <div class="show-for-small-only">
        <div class="facebook"><i class="fa fa-facebook-square fa-2x"></i><a href="http://facebook.com"> facebook</a></div>
        <div class="instagram"><i class="fa fa-instagram fa-2x"></i><a href="http://facebook.com"> instagram</a></div>
        <div class="twitter"><i class="fa fa-twitter fa-2x"></i><a href="http://facebook.com"> twitter</a></div>
      </div>
      <div class="show-for-medium-up">
        <ul class="contatos">
          <li class="telefone"><i class="fa fa-phone"></i><span>(21) 000-0000         </span></li>
          <li class="facebook"><i class="fa fa-facebook-square"></i><span>facebook/desafio-da-ordem</span></li>
          <li class="twitter"><i class="fa fa-twitter"></i><span>@desafio-da-ordem</span></li>
          <li class="email"><i class="fa fa-envelope"></i><span>atendimento@desafiordem.com</span></li>
        </ul>
        <div class="mensagem">
          <p>
            <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, eum.</q>
          </p>
        </div>
      </div>
    </div>
    <div class="contato medium-4 columns hide-for-small-only">             
      <form class="row">
        <div class="small-12 columns">
          <input placeholder="Nome" required="required" class="nome"/>
        </div>
        <div class="small-12 columns"> 
          <input placeholder="Email" type="email" required="required" class="email"/>
        </div>
        <div class="small-12 columns"> 
          <textarea placeholder="Mensagem" required="required" class="mensagem"></textarea>
        </div>
        <div class="small-12 columns"> 
          <input type="submit" value="ENVIAR"/>
        </div>
      </form>
    </div>
  </footer>
</div>
