archive/components/noticias/noticias.html

<div id="noticias">
  <header>
    <nav data-topbar="data-topbar" role="navigation" class="row">
      <h1 class="nome-aplicativo small-9 columns"> <a>Desafio da Ordem</a></h1>
      <ul class="icons small-3 columns">
        <li class="round-icon">  <a href="https://play.google.com/store/apps/details?id=io.cordova.desafiodaordem&amp;hl=en"><i class="icon-apple"></i></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="noticia row">
      <div class="titulo small-12 columns">
        <h3>Lorem ipsum dolor sit amet</h3>
        <h4>Lorem ipsum dolor.</h4>
      </div>
      <div class="imagem small-12 columns"><img src="wp-content/themes/desafio-da-ordem/imagens/paisagem-2.jpg"/></div>
      <div class="texto small-12 columns">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, modi! Impedit, eius suscipit vero animi vel voluptate sint illo doloremque atque dolor, dignissimos modi ipsa consequuntur. Cupiditate sunt, nisi vel qui, itaque, at suscipit doloribus enim quas minus deserunt veniam molestiae rem quam omnis repellat. Voluptatibus doloribus maiores recusandae consectetur!</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, temporibus obcaecati magnam, illo laborum odit ipsum rem ipsa a, veniam dolorum iste. Dolores, aliquam cum, expedita nam voluptas doloribus voluptatem ea quo praesentium vitae molestiae. Eos numquam in ipsum ut? Nulla, ex sit nam porro.              </p>
      </div>
    </div>
    <div class="social row">
      <div class="facebook small-3 column"><i class="fa fa-facebook"></i></div>
      <div class="twitter small-3 column"><i class="fa fa-twitter"></i></div>
      <div class="whatsapp small-3 column"><i class="fa fa-whatsapp"></i></div>
      <div class="google-plus small-3 column"><i class="fa fa-google-plus"></i></div>
    </div>
    <div class="comentarios row">
      <div class="novos-comentarios small-12 column">
        <h3 class="header">Insira seu comentário</h3>
        <textarea></textarea>
        <button class="enviar">Enviar</button>
      </div>
      <div class="antigos-comentarios">
        <div class="comentario small-12 column">
          <div style="height:60px; background:#333" class="imagem small-3 column">
          </div>
          <div class="texto small-9 column">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eaque aliquid alias nesciunt ex, error dolor nobis, aspernatur ipsum quis voluptatibus magnam doloremque exercitationem numquam.  </p>
          </div>
        </div>
      </div>
    </div>
    <div id="secoes-comuns">
      <div class="categorias-app hide">       </div>
      <div class="cards-noticias hide">
        <div class="categorias row">
          <ul class="items small-12 columns">
            <li class="item">Categoria 1</li>
            <li class="item">Categoria 2</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
            <li class="item">Categoria 3</li>
          </ul>
        </div>
        <div class="busca row"> 
          <div class="small-4 columns"> 
            <input placeholder="Buscar"/>
          </div>
        </div>
        <div class="cards">
          <div class="row item">
            <div class="imagem small-4 columns"></div>
            <div class="texto small-8 columns">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, suscipit eius nisi!            </p>
            </div>
          </div>
          <div class="row">       </div>
          <div class="row">       </div>
          <div class="row"></div>
        </div>
      </div>
      <div class="newsletter row">
        <div class="imagem small-6 columns">
          <div class="content"><img src="wp-content/themes/desafio-da-ordem/imagens/garota.png"/></div>
        </div>
        <div class="convite small-6 columns">
          <div class="texto">
            <div class="show-for-medium-up">
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius odit tenetur nobis, animi ipsam doloremque.</p>
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius odit tenetur nobis, animi ipsam doloremque.</p>
            </div>
          </div>
          <div class="campo-inscricao botoes">
            <button>ASSINAR</button>
          </div>
        </div>
      </div>
      <div class="dica">
        <div class="row">
          <div class="imagem small-2 small-offset-5 medium-offset-0 columns">           <img src="wp-content/themes/desafio-da-ordem/imagens/acropole.svg"/></div>
          <div class="texto small-12 medium-10 columns">
            <p>Dicas para concurso a serem atualizadas mensalmente</p>
          </div>
        </div>
      </div>
      <div class="servicos">
        <div class="show-for-small-only row"> 
          <div class="coaching small-12 columns">
            <div class="row">
              <div class="imagem small-3 columns"><img src="wp-content/themes/desafio-da-ordem/imagens/balanca.svg"/></div>
              <div class="texto small-9 columns">
                <h5>Coaching</h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.      </p>
              </div>
            </div>
          </div>
          <div class="mentoring small-12 columns">
            <div class="row">     
              <div class="imagem small-3 columns"></div><img src="wp-content/themes/desafio-da-ordem/imagens/malhete.svg"/>
              <div class="texto small-9 columns">
                <h5>Mentoring</h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="show-for-medium-up row">     
          <div class="texto medium-6 columns lead">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quam deleniti vero fugiat assumenda. Commodi.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos hic error, odio alias necessitatibus voluptate.</p>
          </div>
          <div class="imagem medium-6 columns"><img src="wp-content/themes/desafio-da-ordem/imagens/apito.png"/></div>
        </div>
      </div>
      <div class="contato show-for-small-only">
        <form class="row">
          <div class="small-12 columns">
            <input placeholder="Nome" required="required" class="nome"/>
          </div>
          <div class="small-12 columns"> 
            <input placeholder="Email" type="email" required="required" class="email"/>
          </div>
          <div class="small-12 columns"> 
            <textarea placeholder="Mensagem" required="required" class="mensagem"></textarea>
          </div>
          <div class="small-12 columns"> 
            <input type="submit" value="ENVIAR"/>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer class="row">
    <div class="aplicativo small-6 medium-4 columns">
      <div class="content">   
        <div class="row">
          <div class="logo small-6 columns small-offset-3 medium-4 medium-offset-4"><img src="wp-content/themes/desafio-da-ordem/imagens/logo.png"/></div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <h4 class="nome-aplicativo">Desafio da Ordem</h4>
            <h5 class="mote">Encare esse desafio!</h5>
          </div>
        </div>
        <div class="row">
          <div class="botoes small-12 columns">
            <button class="google-play small-6 columns"> <i class="icon-play"></i><span>Google Play</span></button>
            <button class="apple-store small-6 columns"> <i class="icon-apple"></i><span>Apple Store</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="institucional small-6 medium-4 columns"> 
      <div class="show-for-small-only">
        <div class="facebook"><i class="fa fa-facebook-square fa-2x"></i><a href="http://facebook.com"> facebook</a></div>
        <div class="instagram"><i class="fa fa-instagram fa-2x"></i><a href="http://facebook.com"> instagram</a></div>
        <div class="twitter"><i class="fa fa-twitter fa-2x"></i><a href="http://facebook.com"> twitter</a></div>
      </div>
      <div class="show-for-medium-up">
        <ul class="contatos">
          <li class="telefone"><i class="fa fa-phone"></i><span>(21) 000-0000         </span></li>
          <li class="facebook"><i class="fa fa-facebook-square"></i><span>facebook/desafio-da-ordem</span></li>
          <li class="twitter"><i class="fa fa-twitter"></i><span>@desafio-da-ordem</span></li>
          <li class="email"><i class="fa fa-envelope"></i><span>atendimento@desafiordem.com</span></li>
        </ul>
        <div class="mensagem">
          <p>
            <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, eum.</q>
          </p>
        </div>
      </div>
    </div>
    <div class="contato medium-4 columns hide-for-small-only">             
      <form class="row">
        <div class="small-12 columns">
          <input placeholder="Nome" required="required" class="nome"/>
        </div>
        <div class="small-12 columns"> 
          <input placeholder="Email" type="email" required="required" class="email"/>
        </div>
        <div class="small-12 columns"> 
          <textarea placeholder="Mensagem" required="required" class="mensagem"></textarea>
        </div>
        <div class="small-12 columns"> 
          <input type="submit" value="ENVIAR"/>
        </div>
      </form>
    </div>
  </footer>
</div>

archive/components/noticias/noticias.jade
#noticias
  header
    nav.row(data-topbar role="navigation")
      .show-for-768-up
        .grid(style="position: relative;")
          include ../nav/nav  

      a(href="/") #[h1.nome-aplicativo.small-9.columns Desafio da Ordem] 
        
      ul.icons.small-3.columns
        li.round-icon   
          a(href="https://play.google.com/store/apps/details?id=io.cordova.desafiodaordem&hl=en"): i.icon-apple
        
      
             
  main
    .noticia.row
      .titulo.small-12.columns
        h3 Lorem ipsum dolor sit amet
        h4 Lorem ipsum dolor.
      .imagem.small-12.columns
        img(src="#{imageFolder}/paisagem-2.jpg")
      .texto.small-12.columns
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, modi! Impedit, eius suscipit vero animi vel voluptate sint illo doloremque atque dolor, dignissimos modi ipsa consequuntur. Cupiditate sunt, nisi vel qui, itaque, at suscipit doloribus enim quas minus deserunt veniam molestiae rem quam omnis repellat. Voluptatibus doloribus maiores recusandae consectetur!
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, temporibus obcaecati magnam, illo laborum odit ipsum rem ipsa a, veniam dolorum iste. Dolores, aliquam cum, expedita nam voluptas doloribus voluptatem ea quo praesentium vitae molestiae. Eos numquam in ipsum ut? Nulla, ex sit nam porro.              
    .social.row
      .facebook.small-3.column
        i.fa.fa-facebook
      .twitter.small-3.column
        i.fa.fa-twitter
      .whatsapp.small-3.column
        i.fa.fa-whatsapp
      .google-plus.small-3.column
        i.fa.fa-google-plus
    .comentarios.row
      .novos-comentarios.small-12.column
        h3.header Insira seu comentário
        textarea
        button.enviar Enviar
      .antigos-comentarios
        .comentario.small-12.column
          .imagem.small-3.column(style="height:60px; background:#333")
            //- img
          .texto.small-9.column
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo eaque aliquid alias nesciunt ex, error dolor nobis, aspernatur ipsum quis voluptatibus magnam doloremque exercitationem numquam.  
    include ../secoes-comuns/main/main.jade
  include ../secoes-comuns/footer/footer.jade
          
      
